body {
  padding-top: 60px;
}

.homepage {
  padding-top: 70px;
  text-align: center;
}

.homepage h2 {
  font-size: 40px;
  font-weight: 200;
}

.homepage h1 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

